body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #212121;
    
    color: #E0E0E0; 
}

.login-container {
    background: #37474F; 
    border: 2px solid #FF5722; 
    border-radius: 10px;
    width: 350px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form {
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #FF5722; /* Updated label color */
}

.form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #FF5722; /* Updated input border color */
    border-radius: 5px;
    font-size: 16px;
    background: #E0E0E0; /* Updated input background color */
    color: #212121; /* Updated input text color */
}

.register-button {
    background-color: #FF5722; /* Updated button background color */
    color: #212121; /* Updated button text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px; /* Updated button font size */
    cursor: pointer;
}

.statusregister, .statuslogin {
    border: 2px solid #FF5722; /* Updated border color */
    display: none;
    height: 40px;
    margin-bottom: 1%;
    align-items: center;
    justify-content: center;
    color: #FF5722; /* Updated text color */
    background-color: #37474F; /* Updated background color */
    border-radius: 10px;
}

.register-button:hover {
    background-color: #FF6D00; /* Darker button color on hover */
}

.login-link {
    font-size: 16px;
    text-align: center;
}

.login-link a {
    text-decoration: none;
    color: #FF5722; /* Updated link color */
}

.login-link a:hover {
    text-decoration: underline;
}

label {
    display: block;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #FF5722; /* Updated input border color */
    border-radius: 5px;
    background: #E0E0E0; /* Updated input background color */
    color: #212121; /* Updated input text color */
}

.login-button {
    background-color: #FF5722; /* Updated button background color */
    color: #212121; /* Updated button text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #FF6D00; /* Darker button color on hover */
}

.signup-link {
    margin-top: 20px;
}

.signup-link a {
    text-decoration: none;
    color: #FF5722; /* Updated link color */
}

/* Register and login part */

.register-container {
    background: #37474F; /* Updated background color */
    border: 2px solid #FF5722; /* Updated border color */
    border-radius: 10px;
    width: 350px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.register-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.register-form {
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #FF5722; /* Updated label color */
}

input[type="email"],
input[type="password"],
input[type="file"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #FF5722; /* Updated input border color */
    border-radius: 5px;
    background: #E0E0E0; /* Updated input background color */
    color: #212121; /* Updated input text color */
}

.register-button {
    background-color: #FF5722; /* Updated button background color */
    color: #212121; /* Updated button text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #FF6D00; /* Darker button color on hover */
}

.login-link {
    margin-top: 20px;
}

.login-link a {
    text-decoration: none;
    color: #FF5722; /* Updated link color */
}

/* Contacts page */
.contacts-container {
    background: #0A0A0A;
    border: 2px solid #00FF00;
    border-radius: 10px;
    width: 600px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #00FF00;
}

.owner {
    border-bottom: 2px solid #00FF00;
    padding: 10px 0;
    margin-bottom: 20px;
}

.disconnect-button {
    background-color: #FF0000; /* Red color for the button */
    color: #FFFFFF; /* White text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; /* Add some top margin for spacing */
    transition: background-color 0.3s;
}

.disconnect-button:hover {
    background-color: #CC0000; /* Darker red on hover */
}

.user {
    border: 2px solid #1E1E1E;
    padding: 10px;
    background-color: #1E1E1E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user:hover {
    opacity: 0.9;
    background-color: #2E2E2E;
    cursor: pointer;
}

.user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #00FF00;
}

.user div {
    flex: 1;
    line-height: 1.3;
    font-size: 20px;
}

.user .status {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.user .status i {
    color: #00FF00;
    font-size: 18px;
    margin-left: 10px;
}

.chaters {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #E0E0E0;
    padding: 3%;
    border-radius: 5px;
}

.chaters::-webkit-scrollbar {
    width: 10px;
}

.chaters::-webkit-scrollbar-thumb {
    background-color: #00FF00;
    border-radius: 10px;
}

/* Chat page */

.chatedwith {
    padding: 10px 15px;
    border-bottom: 2px solid #FFD700;
}

.userchatedwith {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    background-color: #2E4053;
    border-radius: 10px;
}

.userchatedwith img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    border: 3px solid #FFD700;
}

.usernamestatususer {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.usernamestatususer .status{
    margin-right: -80%;
}
.usernamestatususer .name{
    margin-left: -30%;
    
}
.usernamestatus {
    flex: 1;
}
.userdetails{
    width: 100%;
}
.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #FFD700;
}

.status {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #00FF00;
    margin-left: 1%;
}
.last-message {
    font-size: 14px;
    color: #888;
    margin-top: px;
    float: left;}
.status i {
    margin-left: 5px;
    font-size: 16px;
    color: #00FF00;
}

.conversation {
    line-height: 1.5;
    padding: 22px 20px 22px 0px;
    min-height: 200px;
    border-bottom: 2px solid #FFD700;
    max-height: 380px;
    overflow-x: hidden;
    overflow-y: auto;
}

.conversation::-webkit-scrollbar {
    width: 5px;
    background-color: #37474F;
}

.conversation::-webkit-scrollbar-thumb {
    background-color: #FFD700;
    border-radius: 5px;
}

.msgsender,
.msggetter {
    width: 70%;
    padding: 10px;
    margin: 10px auto;
    font-size: 18px;
    word-break: break-all;
}

.msgsender {
    width:60%;
    background-color: #FF5722;
    color: #212121;
    text-align: right;
    margin-left: 40%;
    
    border-radius: 15px 15px 5px 15px;
}

.msggetter {
    background-color: #2E4053;
    color: #FFD700;
    text-align: left;
    width:77%;
    margin-right: 100px;
    border-radius: 15px 15px 15px 5px;
    transform: scale(1);
}

.msgsender,
.msggetter {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.imgsender,
.imggetter {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.inputmessage {
    padding: 20px;
    background-color: #2E4053;
}

.inputmessage form {
    display: flex;
    align-items: center;
}

.inputmessage input {
    flex: 1;
    padding: 10px;
    border: 2px solid #FFD700;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background: #37474F;
    color: #E0E0E0;
}

.sendbutton {
    width: 40px;
    height: 40px;
    background-color: #FFD700;
    color: #212121;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.sendbutton:hover {
    background-color: #FF6D00;
}

.sendbutton i {
    font-size: 16px;
    margin-right: 4px;
}

.return {
    margin-right: 100%;
}

/* Second Part Groups */
.contacts-grps {
    display: flex;
    padding: 3% 10%;
    background-color: #1E1E1E;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.contacts-title {
    font-size: 20px;
    font-weight: bold;
    color: #00FF00;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #00FF00;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    text-align: center;
}

.contacts-title:hover {
    background-color: #2E2E2E;
    border-color: #33FF33;
    color: #33FF33;
}

.groupscontainer {
    height: 300px;
    overflow-y: auto;
    display: none;
    border: 1px solid #CCC;
    border-radius: 5px;
    width: 90%;
    margin-left: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.groupscontainer::-webkit-scrollbar {
    width: 10px;
}

.groupscontainer::-webkit-scrollbar-thumb {
    background-color: #00FF00;
    border-radius: 10px;
}

.addgroup {
    background-color: #3498DB;
    
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.addgroup:hover {
    background-color: #2187B5;
}

#group-name {
    width: 70%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-size: 16px;
    background-color: #F4F4F4;
    color: #333;
    transition: border 0.3s, background-color 0.3s, color 0.3s;
}

#group-name:focus {
    outline: none;
    border: 1px solid #3498DB;
    background-color: #FFF;
    color: #000;
}

.chatersgroupes {
    margin-top: 1%;
    border-radius: 5px;
    width: 95%;
    margin-left: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 300px;
}

.groupchat {
    margin: 10px 0;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid #CCC;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.groupchat:hover {
    background-color: #2E2E2E;
    border-color: #33FF33;
    color: #33FF33;
}

.groupchat img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.group-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.group-status {
    font-size: 16px;
    color: #3498DB;
}

.msggroupesender,
.msggroupegetter {
    width: 70%;
    padding: 10px;
    margin: 10px auto;
    font-size: 18px;
    word-break: break-all;
}

.msggroupesender {
    background-color: #FF5722;
    color: #212121;
    width: 60%;
    text-align: right;
    margin-left: 40%;
    border-radius: 15px 15px 5px 15px;
}

.msggroupegetter {
    background-color: #2E4053;
    color: #FFD700;
    text-align: left;
    width: 77%;
    margin-right: 100px;
    border-radius: 15px 15px 15px 5px;
    transform: scale(1);
}

.msggroupesender,
.msggroupegetter {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.groupesendername {
    color: #0002FF;
}

.a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #DAC5C5;
}
